<!DOCTYPE html>

<html>

        
    
    <body class="impact" style="margin: 5px 20%">
        
        <header>
            <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        
            <a href="/warehouse" class="header">
            <h1>Inventory Managment System </h1>
            </a>
            </header>
            
        <div>
            <h2>About this Program:</h2>
            <p>
                This is an example of a system used to track an inventory of a warehouse,store,etc...  It has tools to add/delete/ or put/pull an item within the system.  It also has a search bar for finding an item based on its name.  The banner at the top of the page features as a link back to the dashboard.
            </p>
        </div>
        
        <div>
            <h2>Techonolgies Used:</h2>
            <p>
                The technology chosen was based on my past internship experience.  This entailed developing a back-end with python (more specifically flask and sqlalchemy) with a mysql database.  I did not handle front-end development with my past internship, so for this project I took the time to learn basic html and css to help me build an acceptable user interface.
            </p>
            <br>
            <img src="{{ url_for('static', filename='diagram.png') }}" alt="System Diagram" width="550" height="125">
        </div>
        
        <br><br>
        
        <div>
            <h3>Thank you for visiting my website and this web-app! If you wish to view the source code for this web-app, the link below will take you to the github repository.  Otherwise, click the banner at the top of the page to return to the dashboard.</h3>
        </div>
        <br>
        <div>
            <a href="" target="_blank">GitHub Repository</a>
        </div>
        
    </body>
    
    
</html>
